.swiper-button-prev,
.swiper-button-next {
  color: #6c6c6c;
  font-weight: 900; /* Apply custom color */
}
:root {
  font-family: "Unbounded", sans-serif;
  background-color: #010200 ;
}
* {
  
  font-family: "Unbounded", sans-serif ;
}
html {
  scroll-behavior: smooth;
}
